<app-top-bar></app-top-bar>

<div style="
   padding: 150px 0 10px 100px;
   background: var(--mat-color-success);
   box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.5);
   ">
   <h1 class="fontFamily mat-display-1" style="
         color: var(--mat-color-success-contrast);
         margin: 0; text-transform: capitalize; ">
      Material Icons
   </h1>
   <div class="fontFamily mat-subheading-1">
      IconsComponent
   </div>
</div>
<!-- =--------------------------------------------------= -->
<div style="padding: 40px;">
   <p>Material Icons:</p>
   <div class="fontFamily mat-caption">
      <a href="http://google.github.io/material-design-icons/#icon-font-for-the-web" target="blank">
         http://google.github.io/material-design-icons/#icon-font-for-the-web
      </a>
   </div>

   <div style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px;
      border: 0px solid orangered;
      ">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
         home
      </mat-icon>
      <i class="material-icons md-big">home</i>
      <i class="material-icons">face</i>
      <i class="material-icons md-18">face</i>
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-36">face</i>
      <i class="material-icons md-48">face</i>
      <i class="material-icons orange600 md-48">face</i>
   </div>


   <i class="material-icons md-huge">face</i>


</div>
