<app-top-bar></app-top-bar>

<div style="
   padding: 150px 0 10px 100px;
   background: var(--mat-color-success);
   box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.5);
   ">
   <h1 class="fontFamily mat-display-1" style="
         color: var(--mat-color-success-contrast);
         margin: 0; text-transform: capitalize; ">
      Material Spinner
   </h1>
   <div class="fontFamily mat-subheading-1">
      SpinnerComponent
   </div>
</div>
<!-- =--------------------------------------------------= -->

<p>Material Spinners:</p>

<!-- <div>
   <mat-progress-spinner value="90" style="align-items: center; stroke:red;"></mat-progress-spinner>
</div> -->
<div style="padding: 40px;">
   <div style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border:1px solid rgb(231, 231, 231);
      ">

      <div *ngIf="showSpinner" color="secondary" style="
         display: flex;
         flex-direction: column;
         align-items: center;
         border: 0px solid cyan;
         stroke:hotpink;
         ">
         <mat-spinner></mat-spinner>
         <div class="mat-caption colorDanger">find a way to colorized the stroke</div>
      </div>

      <div style="border: 0px solid greenyellow;">
         <button (click)="fLoadData()" mat-raised-button>{{loadDataLabel}}</button>
      </div>

   </div>
</div>
