<app-top-bar></app-top-bar>

<p>Material Badges:</p>

 <hr>
<div class="mat-caption">position:</div>
<div> <span [matBadge]="notifications">Notifications </span> </div>
<div> <span matBadge="50" matBadgePosition="below before">Notifications </span> </div>
<div> <span matBadge="50" matBadgePosition="below after">Notifications </span> </div>
<div> <span matBadge="50" matBadgePosition="above before">Notifications </span> </div>
<button mat-mini-fab (click)="fAddLikes()">Like</button>
<div class="mat-caption colorDanger">why does the badge move left when clicked Like</div>

<hr>
<div class="mat-caption">sizes:</div>
<div> <span matBadge="50" matBadgeSize="small">Notifications </span> </div>
<div> <span matBadge="50" matBadgeSize="medium">Notifications </span> </div>
<div> <span matBadge="50" matBadgeSize="large" matBadgeOverlap="false">Notifications </span> </div>

<hr>
<div class="mat-caption colorDanger">color: NOT WORKING!</div>
<div> <span matBadge="50" matBadgeSize="medium" matBadgeColor="primary">Notifications </span> </div>
<div> <span matBadge="50" matBadgeSize="large" matBadgeColor="secondary" style="color:var(--mat-color-tertiary)">Notifications </span> </div>
