<app-top-bar></app-top-bar>

<div style="
   padding: 150px 0 10px 100px;
   background: var(--mat-color-primary-600);
   box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.5);
   ">
   <h1 class="fontFamily mat-display-1"
      style="
         color: var(--mat-color-primary-200);
         margin: 0; text-transform: capitalize; ">
      Typography
   </h1>
   <div class="fontFamily mat-subheading-1">
      ComponentName
   </div>
</div>
<!-- =--------------------------------------------------= -->
