@import "./../../../../styles.scss";

/*--=| Main navigation drop down menu |=---*/
.toolbarContainer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   // border: 1px solid white;
}
// .menuContainer {
   // width: 200px;
   // flex-flow: row wrap;
   // border: 1px solid white;
// }
.menuBtn {
   @include fontFamilyWeightSizeColor( $fontOpenSans, 600, 0.7rem, var(--mat-color-primary-100) );
   text-transform: uppercase;
   // border: 1px solid white;
}

.matmenu {
   background: var(--mat-color-secondary);
   padding-top: 0px;
   padding-bottom: 0px;
}

.submenu {
   background: var(--mat-color-dark-300);

   .submenuBtn {
      @include fontFamilyWeightSizeColor(
         $fontOpenSans,
         600,
         0.8rem,
         var(--mat-color-primary-100)
      );
      text-transform: uppercase;
   }
}
