
<div class="toolbarContainer">
   <ng-container *ngFor="let menu of aComponentsMenu; let i = index;" class="menuContainer">
      <mat-menu #appMenu="matMenu" class="matmenu">
         <div *ngFor="let submenu of menu.subMenu;" class="submenu">
            <button mat-menu-item routerLink={{submenu.link}} class="submenuBtn">{{submenu.name}}</button>
         </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="appMenu" class="menuBtn">{{menu.title}}</button>
   </ng-container>
</div>
