<mat-sidenav-container class="sidenav-container">
   <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list *ngFor="let menu of aMenuData">
         <a mat-list-item class="routerLinkWrap" routerLink="/" style="text-transform: uppercase;">{{menu.title}}</a>
         <mat-nav-list *ngFor="let submenu of menu.subMenu">
            <a mat-list-item class="routerLinkWrapX" routerLink={{submenu.link}}>{{submenu.name}}</a>
         </mat-nav-list>
      </mat-nav-list>
      <!-- <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list> -->
   </mat-sidenav>

   <mat-sidenav-content>
      <mat-toolbar color="primary">
         <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
         <span>n8-material</span>
      </mat-toolbar>
      <!-- Add Content Here -->
   </mat-sidenav-content>
</mat-sidenav-container>
